<div ng-app="app">
	<div class="main-title"> BeerPair.me</div>
	<nav class="main-nav">
		<a ui-sref-active="active" ui-sref="home"><span class="tooltip tooltip-turnright"><span class="tooltip-item">Home</span><span class="tooltip-content">Search for beer.</span></span> </a>
		
		<a ui-sref-active="active" ui-sref="newpairings"> <span class="tooltip tooltip-turnleft"><span class="tooltip-item">Pairings</span><span class="tooltip-content">See the latest pairings.</span></span></a>

		<a ui-sref-active="active" ui-sref="submit"><span class="tooltip tooltip-turnright"><span class="tooltip-item">Submit</span><span class="tooltip-content">Submit pairings.</span></span></a>
	</nav>
	<main ui-view></main>
</div>
