<div ng-app="app">
    <div class="main-title"> BeerPair.me</div>
    <nav class="main-nav">
            <a href="#" ui-sref-active="active" ui-sref="home"><span>Home</span></a>
            <a href="#" ui-sref-active="active" ui-sref="newpairings"><span>Pairings</span></a>
            <a href="#" ui-sref-active="active" ui-sref="info"><span>Info</span></a>


    </nav>


	<main ui-view></main>
</div>
