<!DOCTYPE html>
<html>
  <head>
      <title>BeerPair.me</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />





    <link rel="stylesheet" href="/styles/reset.css">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/reset.css">
    <!--STYLES END-->
    <link href='\\fonts.googleapis.com/css?family=Noto+Sans|Cabin|Muli|Francois+One' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <%- body %>





    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->



    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/angular.js"></script>
    <script src="/js/app/app.js"></script>
    <script src="/js/app/controller.js"></script>
    <script src="/js/app/services.js"></script>
    <script src="/js/dist/ng-table.min.js"></script>
    <script src="/js/lodash.js"></script>
    <script src="/js/moment.js"></script>
    <script src="/js/release/angular-ui-router.js"></script>
    <script src="/js/validator.js"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61505115-1', 'auto');
  ga('send', 'pageview');

</script>
    <!--SCRIPTS END-->
  </body>
</html>
