<div class="beerdetails">
    <div>
  <!-- Start of the accordion -->
  <div id="container">
    <!-- Item 1 -->
    <div class="accordion">
      <label for="tm" class="accordionitem">
        <h2 ng-bind="beerdetails.name">
        </h2>
      </label>
    </div>

    <!-- Item 2 -->
    <div class="accordion">
      <label for="tn" class="accordionitem">
        <h2 ng-bind="beerdetails.breweries[0].name">
        </h2>
      </label>
    </div>

    <!-- Item 3 -->
    <div class="accordion">
      <label for="to" class="accordionitem">
        <h2 ng-bind="beerdetails.style.name">
        </h2>
      </label>
    </div>

    <!-- Item 4 -->
    <div class="accordion">
      <label for="tp" class="accordionitem">
        <h2> {{beerdetails.abv}} ABV
      </h2>
      </label>
    </div>

    <!-- Item 5 -->
    <div class="accordion">
      <label for="tq" class="accordionitem">
        <h2>Description
          <span class="arrow">&raquo;</span>
        </h2>
      </label>
      <input type="checkbox" id="tq" />
      <p class="hiddentext" ng-bind="beerdetails.description"></p>
    </div>
  </div>


  <div class="imagebox">
    <img src="{{ beerdetails.labels.medium }}">
  </div>
  </div>

  <div class="pairingsbox">
      <div class="pairings">Pairing Info: {{beerstyle.pairings}}
      </div>
      <span>Recommended Recipes:</span><a href>{{beerstyle.url}}
      </a>

  </div>
</div>
