<section class="search" ng-controller="homeCtrl">
  <form ng-submit="searchSubmit(searchParam)">
    <div class="box">
      <div class="container-1">
        <input ng-model="searchParam" type="search" id="search" results=10 placeholder="Search for a beer..." />
        <br>
        <h4 ng-bind="errorMsg" class="errorMsg" Search requires two or more characters.</h4>
      </div>
    </div>
  </form>
  <table ng-show="showTable" class="search-table">
    <thead>
      <th> Name </th>
      <th> Brewery </th>
      <th>Style</th>
      <th>ABV </th>
    </thead>
    <tbody>
      <tr class="selected" ng-repeat="beer in beers"  ui-sref='beerdetails({beerId:beer.id})'>
        <td> {{ beer.name }} </td>
        <td> {{ beer.breweries[0].name }}</td>
        <td> {{ beer.style.name }}
          <td> {{ beer.abv}} </td>
    </tbody>
  </table>


</section>
