.beerdetails {
    margin: 2em auto;
    text-align: center;
        .imganddetails {
            display:inline-block;
        }
        .imagebox {
            display:inline-block;
            float:left;
        }
        .beerbasics {
            display:inline-block;
            padding:3em;
                h1 {
                    padding:1em;
                }

                }






}
