.beerdetails {
    margin: 2em auto;
    text-align: center;
    background-color: #FFFFFF;
    height:600px;
    width:660px;
    border: 1px solid black;
    font-size: 1.2em;
        .detailsandimage {
            border-bottom: 1px solid black;
            position:relative;
        }
        .imagebox {
            height:293px;
            width: 293px;
            background-image: url("/images/foamybeer.png");
            background-size: 25%;
            background-repeat: no-repeat;
            background-position:center;
        }


h1{
    color:$primary-color;
}
}


.container{
  width: 400px;
  margin: 0 auto;
  display: inline-block;
  float:right;
  border-left: 1px solid black;
}

.accordion label{
  display:block;
  background-color: #ffffff;
  padding: 19.4px;
  color: #424242;
  text-shadow: 0 0 2px rgba(255,255,255,0.6);
  border-bottom: 1px solid black;
  font-weight: 750;
          &:nth-child(3) {
              border:none;
          }
}

.accordion2 label  {
  display:inline-block;
  background-color: #ffffff;
  padding: 16.9px;
  color: #424242;
  text-shadow: 0 0 2px rgba(255,255,255,0.6);
  border-bottom: 1px solid black;
  width:626px;

}



#tq:checked ~ .hiddentext{
  display: block;
  visibility: visible;
  opacity: 1;
}

input#tq{
  display: none;
  position: relative;
}


.pairingsbox {
    display: inline-block;
    margin: 1em auto;
    text-align:center;
}
