$background-color: #DBBE39;
$primary-color: #5F9A58;

html {
    font-family: 'Cabin';
    background-image: url("/images/beerimg.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top center;
    background-attachment: fixed;
body {
    font-family: 'Cabin';
}
.main-title {
    font-size: 10em;
    color: #85AA48;
    text-align: center;
    padding-top: .5em;
    padding-bottom: .25em;
    font-family: 'Cabin';
    font-weight: 600;
    text-shadow: 4px 4px 4px #555;
}
.main-nav {
    font-size: 3em;
    text-align: center;
    letter-spacing: .1em;
    word-spacing:2em;
    margin: .8em;
        a{
    text-decoration: none;
    text-shadow: 1px 1px 1px #555;
    color: black;
        &:hover {
            color:#85AA48;
            text-shadow: 1px 1px 1px #555;
        }
        }
}
}
