.main-title {
    font-family: helvetica;
    font-size: 5em;
    color: black;
    text-align: center;
    padding-top: .5em;
    padding-bottom: .25em;
}
.main-nav {
    font-family: helvetica;
    font-size: 1.2em;
    color: black;
    text-align: center;
}
