.submitpage {
    .formbody {
        background-color: white;
        margin: 3em 2em 5em;
        padding: 2em;
        font-size: 1.2em;
        border: 1px solid grey;
    }
    h1 {
        font-size: 3em;
        padding-bottom: 0.5em;
        text-align: center;
    }
    h3 {
        padding-left: -.1em;
        margin-bottom: 0.2em;
        padding-top: .5em;
        padding-bottom: .2em;
        font-size: 1.5em;
    }
    h4 {
        color: red;
        font-size: 0.6em;
        margin-top: -.2em;
    }
    input {
        width: 50%;
        border-left: 2px solid grey;
        height: 1.6em;
        margin-bottom: 1em;
        border: 1px solid #423446;
        font-size: 12pt;
        color: #423446;
        border-radius: 5px;
    }
    textarea {
        width: 100%;
        border-left: 2px solid grey;
        height: 6em;
        border: 1px solid #423446;
        font-size: 12pt;
        color: #423446;
        border-radius: 5px;
    }
    button {
        font-size: 1em;
        margin-top: 1em;
        padding: 1em;
        color: white;
        border: none;
        background-color: black;
        -webkit-transition: background-color 5s;
        transition: background-color 5s;
    }
    button:hover {
        background-color: #85AA48;
    }
    .success-page {
        margin: 0 auto;
        margin: 2em;
        font-weight: 700;
        color: black;
        text-shadow: 2px 2px 2px grey;
        padding-top: 2em;
    }
    input::-webkit-input-placeholder {
        font-size: 1em;
        color: #555;
    }
    input::-moz-placeholder {
        font-size: 1em;
        color: #555;
    }
    input:-ms-input-placeholder {
        font-size: 1em;
        color: #555;
    }
    input:-moz-placeholder {
        font-size: 1em;
        color: #555;
    }
    textarea::-webkit-input-placeholder {
        font-size: 1em;
        color: #555;
    }
    textarea::-moz-placeholder {
        font-size: 1em;
        color: #555;
    }
    textarea:-ms-input-placeholder {
        font-size: 1em;
        color: #555;
    }
    textarea:-moz-placeholder {
        font-size: 1em;
        color: #555;
    }
    @media screen and (max-width: 440px) {
        .formbody {
            font-size: .5em;
        }
    }
    @media screen and (min-width: 740px) {
        .formbody {
            margin: 3em 8em 5em;
            font-size: 1em;
        }
    }
    @media screen and (min-width: 960px) {
        .formbody {
            margin: 3em 16em 5em;
        }
    }
}