.beerdetails {
    margin: 2em auto;
    text-align: center;
    background-color: #FFFFFF;
    height:600px;
    width:660px;
    border: 2px solid #F9DF7B;
        .imagebox {
            display:inline-block;
            border: 1px solid #F9DF7B;
            float:right;
        }


h1{
    color:#FAE074;
}




}

h1{
  font-weight: lighter;
  margin: 0 auto;
  text-align: center;
  margin-top: 5%
}
p{


  color: #666;
  text-align: center;
  margin-top: 1%
}

Body{
  font-family: 'Montserrat';
}

#container{
  width: 400px;
  margin: 0 auto;
  border-top: 1px solid #F9DF7B;
  border-left: 1px solid #F9DF7B;
  border-right: 1px solid #F9DF7B;
  display: inline-block;
  float:right;


}

.accordion label{
  display:block;
  background-color: #ffffff;
  padding: 16.9px;
  color: #424242;
  text-shadow: 0 0 2px rgba(255,255,255,0.6);
  cursor: pointer;
  border-bottom: 1px solid #F9DF7B;
  border-top: 1px solid #ffffff;
}

.accordion p{
  color: #424242;
  padding: 10px;
  font-size: 0.8em;
  line-height: 1.7em;
  border-bottom: 1px solid #F9DF7B;
  visibility: hidden;
  opacity: 0;
  display: none;
  text-align: left;
  background-color: #fff;
  margin-top: 0px;
}

#tm:checked ~ .hiddentext{
  display: block;
  visibility: visible;
  opacity: 1;
}

input#tm{
  display: none;
  position: relative;
}

#tn:checked ~ .hiddentext{
  display: block;
  visibility: visible;
  opacity: 1;
}

input#tn{
  display: none;
  position: relative;
}

#to:checked ~ .hiddentext{
  display: block;
  visibility: visible;
  opacity: 1;
}

input#to{
  display: none;
  position: relative;
}
#tp:checked ~ .hiddentext{
  display: block;
  visibility: visible;
  opacity: 1;
}

input#tp{
  display: none;
  position: relative;
}
#tq:checked ~ .hiddentext{
  display: block;
  visibility: visible;
  opacity: 1;
}

input#tq{
  display: none;
  position: relative;
}
.arrow{
  color: #666666;
}
