.beerdetails {
    margin: 2em auto;
    text-align: center;
    background-color: #FFFFFF;
    width: 660px;
    border: 1px solid grey;
    font-size: 1.2em;
    .detailsandimage {
        border-bottom: 1px solid grey;
        position: relative;
    }
    .imagebox {
        height: 293px;
        width: 293px;
        background-image: url("/images/foamybeer.png");
        background-size: 25%;
        background-repeat: no-repeat;
        background-position: center;
    }
    h1 {
        color: $primary-color;
    }
}

.container {
    width: 400px;
    margin: 0 auto;
    display: inline-block;
    float: right;
    border-left: 1px solid grey;
}

.accordion label {
    display: block;
    background-color: #ffffff;
    padding: 19.4px;
    color: #424242;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid grey;
    font-weight: 750;
    &:nth-child(3) {
        border: none;
    }
}

.infobox {
    display: inline-block;
    text-align: left;
    line-height: 1.7em;
    border-bottom: 1px solid grey;
    padding: 1em 1em;
        h1 {
            text-align:center;
            font-size: 1.5em;
            padding-bottom: .5em;
        }
}

.pairingsbox {
    display: inline-block;
    margin: 1em 1em;
    text-align: left;
    line-height: 1.7em;
        h1 {
            text-align:center;
            font-size:1.5em;
            padding-bottom: .5em;
        }
}

.recipelink {
    text-align: center;
    font-size: 2em;
    margin: .5em 0;
    background-color: $primary-color;
    border-radius: 5px;
    -webkit-box-shadow:7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    padding: .5em;

        a {
    text-decoration: none;
    color: #F4F7F8;
    }
        i {
        color: #F4F7F8;    
        }
}

@media screen and (max-width: 680px) {
    .beerdetails {
        font-size: 1em;
        width: 500px;
        .imagebox {
            display: none;
        }
    }
    .container {
        width: 100%;
    }
    .accordion #item6 {
        margin: 1em 1em;
    }
}

@media screen and (max-width: 520px) {
    .beerdetails {
        width: 400px;
    }
    .recipelink {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 420px) {
    .beerdetails {
        width: 350px;
    }
}