$gut: 1.754%;
$col: 6.725%;

@mixin grid($colnum) {
  width: ($col * $colnum) + ($gut * (($colnum) - 1));
  margin-right: $gut;
  margin-bottom: $gut;
  float: left;
}

section {
  max-width: 1430px;
  div {
    padding: 0.5em;
    box-sizing: border-box;
  }
  div:last-child {
    margin-right: 0;
  }
}

.col8, .col2, .col6, .col7, .col3, .col4 {
  width: 100%;
  margin-bottom: $gut;
}

@media screen and (min-width:500px) {
  .col8 {
  @include grid(8);
}

.col4 {
  @include grid(4);
}

.col6 {
  @include grid(6);
}

.col2 {
  @include grid(2);
}

.col3 {
  @include grid(3);
}

.col7 {
  @include grid(7);
}
}
