.main-title {
    font-family: helvetica;
    font-size: 5em;
    color: black;
    text-align: center;
    padding: .5em 0;
}
.main-nav {
    font-family: helvetica;
    font-size: 1em;
    color: black;
    text-align: center;
}
