$background-color: #42091A;
$primary-color: #F9DF7B;

html {
    background-color: $background-color;
    font-family: 'Noto Sans';
body {
    font-family: 'Noto Sans';
}
.main-title {
    font-size: 5em;
    color: $primary-color;
    text-align: center;
    padding-top: .5em;
    padding-bottom: .25em;
    letter-spacing: .2em;
    font-family: 'Noto Sans';
    font-weight: 600;
}
.main-nav {
    font-size: 1.2em;
    text-align: center;
    letter-spacing: .1em;
        a{
    text-decoration: none;
    color: $primary-color;
        &:hover {
            color:#FED730;
        }
        }
}
}
