.newtable {
    margin: 0 auto;
    font-size: 1.2em;
}

table {
    max-width: 960px;
    margin: 10px auto;
    text-align: center;

    thead th{
        font-weight: 600;
        background: #FED730;
        opacity: .7;
        color: black;
        font-size: 1.3em;
    }
    tr {
        background: #f4f7f8;
        border-bottom: 1px solid #FFF;
        margin-bottom: 5px;
    }
    tr:nth-child(even) {
        background: #e8eeef;
    }
    th {
        text-align: left;
        padding: 20px;
        font-weight: 400;
        font-size: 1em;
    }
    td {
        text-align: left;
        padding: 15px;
        font-weight: 300;
    }

    @media screen and (max-width: 622px) {
        .newtable {
            font-size: .75em;
        }
        thead th {
            font-size: .75em;
        }
    }

}