<div class="beerdetails">
  <div class="detailsandimage">
    <!-- Start of the accordion -->
    <div class="container">
      <!-- Item 1 -->
      <div class="accordion">
        <label class="accordionitem">
          <h2 ng-bind="beerdetails.name">
          </h2>
        </label>
      </div>

      <!-- Item 2 -->
      <div class="accordion">
        <label class="accordionitem">
          <h2 ng-bind="beerdetails.breweries[0].name">
          </h2>
        </label>
      </div>

      <!-- Item 3 -->
      <div class="accordion">
        <label class="accordionitem">
          <h2 ng-bind="beerdetails.style.name">
          </h2>
        </label>
      </div>

      <!-- Item 4 -->
      <div class="accordion">
        <label class="accordionitem">
          <h2> {{beerdetails.abv}} ABV
          </h2>
        </label>
      </div>

      <!-- Item 5 -->
      <div class="accordion">
        <label class="accordionitem">
          <h2> {{beerdetails.ibu}} IBU
          </h2>
        </label>
      </div>


    </div>




    <div class="imagebox">
      <img src="{{ beerdetails.labels.medium }}">
    </div>
  </div>


  <!-- Item 6 -->
  <div class="infobox">
    <label class="accordionitem">
      <h2 id="item6" ng-bind="beerdetails.description" </h2>
    </label>
  </div>

  <div class="pairingsbox">
    <div class="pairings">   {{beerstyle.pairings}}
    </div>
    <br>
    <div class="recipelink">
        <i class="icon ion-fork">&nbsp;</i>
        <a ng-href="{{beerstyle.url}}">Recommended Recipe(s)</a>
        &nbsp;<i class="icon ion-knife"></i>
    </div>

  </div>
</div>
